#logo{
margin-top: 30px;
width:50px;
}

.bienvenue{
	color:blue;
}

*{
box-sizing:border-box;
}

 body{
 	background-color: #F4F7F6;
 	/*couleur hexadecimal
 	couleur "words"
 	couleur rgb*/
 	/*background: url('https://th.bing.com/th/id/OIP.rbVuces9Vpi1O2OyeJLT1wHaE8?w=262&h=180&c=7&o=5&dpr=1.5&pid=1.7') fixed no-repeat center center, url('https://th.bing.com/th/id/OIP.laur9rRQUraAiIgoLwNenwHaHa?w=193&h=193&c=7&o=5&dpr=1.5&pid=1.7')fixed no-repeat top left; 
 	/*background-image:url('https://th.bing.com/th/id/OIP.rbVuces9Vpi1O2OyeJLT1wHaE8?w=262&h=180&c=7&o=5&dpr=1.5&pid=1.7');
 	background-attachment: fixed; 
	background-repeat: no-repeat; 
	background-position: center center;*/
	margin: 0;
 }

 h3:before{
 	content: "♣ ";
 	color: grey;
 }
 h3:after{
 	content: " ♣ ";
 	color: grey;
 }
 h3{
 	font-size: 1.5em;
 	text-transform:uppercase; 

 }

/* dafont.com */
/*h1:hover {
	color: red;
} la couleur change quand la souris passe dessus */

h1:active  {
	color: red;
}
#contact{
	border: 1px black solid;
	border-radius: 15px;
	padding:30px;
	margin-bottom: 50px;


}

.separator{
	width: 40px;
	height: 1px;
	margin: 15px auto 15px auto;
	display: block;
	background-color: #999999;
}
.contener{
width:80%;
margin: auto;

}

#projets{
display: flex;
flex-wrap: wrap;

}
.projet{
width: 400px;
margin: 30px;
display: inline-block;
background-color: white;
padding-bottom: 15px;
border:0px black solid;
border-radius: 10px;
overflow: hidden;
/*https://codepen.io/sdthornton/pen/wBZdXq*/
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.projet:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.3s;
}
.projet img{
min-width: 400px;
height: 266px;


}
.picture{
	width: 400px
height: 266px;
overflow: hidden;
margin-bottom: 15px;
}
.projet. date-project{
	font-size: 0.5em;
}
.projet span{
	text-transform: uppercase;

display: block;
}


}
h1{ 
	font size: auto;
	font-family:'theblacklist'; 
	opacity: auto; /*transparence*/
	border-bottom: 2px black solid;
	border-radius: 10px;
	/*box-shadow:DECALAGE HORIZONTALE/ VERTICAL/ ADOUCISSEMENT/ COULEUR */
margin-top: 0;
padding-top: 30px;

}
h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5em;
	width: 400px;
	margin: auto;

}

header {
	color: white;
	text-align: center;
	background-color: #1D1D1D;
	padding-bottom: 30px;
	}

section{
	text-align: center;
	margin: 30px;
}

#pictureP img{
	width: 80%;
}

/*polices*/
@font-face {
	font-family: 'theblacklist';
	src: url('../src/theblacklist.ttf') format('truetype');
}

footer{
	background-color: #1D1D1D;
	color: white;
	text-align: center;
	padding:15px;
}

nav{
	text-align: center;
	background-color: white;
	box-shadow: 20px 30px 50px -1 blue;
	font-size: 1.2em;
	padding:15px;
	
}
ul{
	padding: 0;
	display: inline;
	padding-top: 10px;
}

li{
	list-style-type:none;
	display: inline;
	margin: 10px;
}
li:hover{
	font-weight: bold;
}
a{
	text-decoration: none;
}
